# Basic htaccess config file

Options -Indexes

# Use Apache basic auth
# More info: https://httpd.apache.org/docs/2.2/howto/auth.html#gettingitworking
AuthType Basic
AuthName "Restricted"
AuthUserFile /usr/local/apache/passwd/passwords
Require valid-user
# These Auth* declarations will not be processed unless the relevant Directory or 
# VirtualHost is given AllowOverride AuthConfig in the httpd conf

<Files "script*">
	Require user admin
</Files>

RewriteEngine on
# If installed in a subdirectory, set RewriteBase to be the URL path prefix with a
# trailing slash, like /colloq/
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]*?)/(\d+)/?$ index.php?action=$1&id=$2 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]*?)/?$ index.php?action=$1 [QSA]
